<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>상세 페이지</title>
</th:block>

<th:block layout:fragment="content">
    <div class="card-content">
        <div class="page_tits">
            <h3>게시판 관리</h3>
            <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>상세정보</span></p>
        </div>

        <div class="content">
            <section>
                <table class="tb tb_row">
                    <colgroup>
                        <col style="width:10%;" /><col style="width:23%;" /><col style="width:10%;" /><col style="width:23%;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">글 유형</th>
                            <td th:text="${post.noticeYn == false ? '일반' : '공지'}"></td>

                            <th scope="row">등록일</th>
                            <td th:text="${post.createdDate}"></td>
                        </tr>
                        <tr>
                            <th scope="row">제목</th>
                            <td>[[ ${post.title} ]]</td>

                            <th scope="row">조회</th>
                            <td colspan="3">[[ ${post.viewCnt} ]]</td>
                        </tr>
                        <tr>
                            <th scope="row">이름</th>
                            <td colspan="3">[[ ${post.writer} ]]</td>
                        </tr>
                        <tr>
                            <th scope="row">내용</th>
                            <td colspan="3">[[ ${post.content} ]]</td>
                        </tr>
                    </tbody>
                </table>
                <p class="btn_set">
                    <!-- <a th:href="@{/post/write.do(id=${post.id})}" class="btns btn_bdr4 btn_mid">수정하기</a> -->
                    <a href="javascript:void(0);" onclick="goWritePage();" class="btns btn_bdr4 btn_mid">수정하기</a>
                    <button type="button" onclick="deletePost();" class="btns btn_bdr1 btn_mid">삭제하기</button>
                    <a href="javascript:void(0);" onclick="goListPage();" class="btns btn_bdr3 btn_mid">뒤로가기</a>
                </p>
            </section>
        </div> <!--/* .content */-->
    </div>
</th:block>

    <!-- 댓글 부분 -->
    <th:block layout:fragment="add-content">
        <div class="box-content">
            <div class="card-content">
                <div class="clearfix">
                    <h4 class="box-title pull-left">Comment</h4>
                    <!-- /.box-title -->
                </div>
    
                <form class="form-horizontal form-view">
                    <div class="input-group margin-bottom-20">
                        <input type="email" class="form-control" placeholder="">
                        <div class="input-group-btn"><button type="button" class="btn waves-effect waves-light"><i class="fa fa-commenting" aria-hidden="true"></i></button></div>
                        <!-- /.input-group-btn -->
                    </div>
                    <ul class="notice-list"></ul>
                </form>
            </div>
            <!-- /.card-content -->
        </div>
        <!-- /.box-content -->
    </th:block>

    




<th:block layout:fragment="script">
  <script th:inline="javascript">

    $(function() {
            printCommentList();
	});

     
	function printCommentList() {

        var uri = '/comments/' + [[${post.id}]];
        console.log(uri);
        
		  
        $.get(uri, function(response) {
            // console.log(response);
            // var temp = response.nameValuePairs.commentList; jackson 라이브러리 사용할 경우 nameValuePairs key가 붙어 나오기 떄문에!

			//if (temp.length > 0) { jackson 라이브러리 사용할 경우
            if (response.commentList.length > 0) {    
				var commentsHtml = "";

                //$(response.nameValuePairs.commentList).each(function(idx, comment) {    jackson 라이브러리 사용할 경우
				$(response.commentList).each(function(idx, comment) {
					commentsHtml += `
						<li>
							<span class="name">${comment.writer}</span>
							<span class="desc">${comment.content}</span>
							<span class="time">${comment.insertTime}</span>
							<button type="button" class="btn btn-xs btn-circle"><i class="fa fa-close" aria-hidden="true"></i></button>
						</li>
					`;
				});

				$(".notice-list").html(commentsHtml);
			}
		}, "json");
        
	}
    


    /*<![CDATA[*/

    /*  
    // 기존 게시글 삭제 (블로그 방식) list.html 페이징 처리 전 메소드
    function deletePost() {
      const id = [[${post.id}]];

      if (!confirm(id + '번 게시글을 삭제할까요?') ) {
        return false;
      }

      const formHtml = `
          <form id="deleteForm" action="/post/delete.do" method="post">
              <input type="hidden" id="id" name="id" value="${id}" />
          </form>
      `;
      const doc = new DOMParser().parseFromString(formHtml, 'text/html');
      const form = doc.body.firstChild;
      
      document.body.append(form);
      document.getElementById('deleteForm').submit();
    }
    */

    function deletePost() {

        const id = [[${post.id}]];

        if (!confirm(id + '번 게시글을 삭제할까요?') ) {
            return false;
        }

        let inputHtml = '';

        new URLSearchParams(location.search).forEach((value, key) => {
            inputHtml += `<input type="hidden" name="${key}" value="${value}" />`;
        })

      // script 템플릿 쓸 때 script변수도 ${xxx}로 사용 가능하다!
      const formHtml = `
          <form id="deleteForm" action="/post/delete.do" method="post">
              ${inputHtml}
          </form>
      `;

      const doc = new DOMParser().parseFromString(formHtml, 'text/html');
      const form = doc.body.firstChild;
      document.body.append(form);
      document.getElementById('deleteForm').submit();
    }





    // 게시글 리스트 페이지로 이동 (파라미터 적용)
    function goListPage() {
        const queryString = new URLSearchParams(location.search);
        queryString.delete('id');
        location.href = '/post/list.do' + '?' + queryString.toString();
    }

    // 게시글 수정 페이지로 이동
    function goWritePage() {
        location.href = '/post/write.do' + location.search;
    }


    /*]]>*/
  </script>
</th:block>

</html>